<form action="/users" class="new_user" id="new_user" method="post">
    <label for="user_name">Name</label>
    <input id="user_name" name="user[name]" type="text" />
    <label for="email">Email</label>
    <input id="email" email="user[email]" type="text" />
</form>



<!--You will need a views subdirectory.  Within it, -->
<!--create user_form.erb, which is a form with fields for -->
<!--name and email, and a submit button, and which does a -->
<!--post to /create.  Create user_list.erb, which displays -->
<!--a list of users and their emails.  It should also have -->
<!--links for /new and /delete.  Create user_delete.erb, which -->
<!--is a form with an entry field for the name and a submit button -->
<!--labeled delete, and which uses the delete method for path ‘/delete.  -->
<!--You will need to add this line to app.rb after the other entries, -->
<!--but before any of the code for your routes:-->

<!--require './models/user'-->