<form action="/delete" method="post">
    <p>Name to delete:</p>
    <input type="text" name="name">
    <input type="submit" value="delete">
</form>







<!--Create user_delete.erb, which -->
<!--is a form with an entry field for the name and a submit button -->
<!--labeled delete, and which uses the delete method for path ‘/delete.  -->
<!--You will need to add this line to app.rb after the other entries, -->
<!--but before any of the code for your routes:-->